/* font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* set default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set variable */
:root {
  --primary-font: 'Poppins', sans-serif;
  --gradient-color: linear-gradient(to right, rgb(110, 72, 170), rgb(157, 80, 187));
  --body-bg-color: rgb(37, 40, 46);
  --primary-font-color: #ddd;
}

/* input style */
input {
  padding: 0.75em;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--primary-font);
  color: var(--body-bg-color);
  background-color: var(--primary-font-color);
}

/* button style */
button {
  padding: 0.75em 1em;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  background: var(--gradient-color);
}

/* body style */
html,
body {
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  background-color: var(--body-bg-color);
}

/* alert */
.alert {
  width: 100%;
  padding: 1em 0;
  text-align: center;
  position: fixed;
  top: 0;
  background: var(--gradient-color);
  display: none;
}

/* container */
.container {
  width: 50%;
  padding: 1em;
  border-radius: 5px;
  display: grid;
  place-items: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed var(--primary-font-color);
}

/* form */
form {
  width: 100%;
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form input {
  width: 40%;
}

/* wrapper result */
.wrapper-result {
  display: flex;
  justify-content: center;
  align-items: last baseline;
}

/* footer */
footer {
  width: 100%;
  padding: 1em 0;
  text-align: center;
  position: fixed;
  bottom: 0;
}

footer a {
  text-decoration: none;
  transition: all 0.3s;
  color: var(--primary-font-color);
}

footer a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  /* container */
  .container {
    width: 85%;
  }

  /* form */
  form {
    flex-direction: column;
  }

  form input,
  form button {
    width: 100%;
  }

  form input {
    margin-bottom: 1em;
  }
}
